body {
	font-family: Verdana, Tahoma, Arial, "Trebuchet MS", Sans-Serif, Georgia, Courier, "Times New Roman", Serif;
	font-size: 8pt;
  background-color: #004E98;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

img{
	border: 0; /* makes sure linked images do not have a border */
	vertical-align: middle;
}

#logostrip{ 
	background: #00326A url(pic/tile_back.gif);
	border: 1px solid #FFF;
	height: 130px;
	margin: 0;
	padding: 0;
}

#submenu{ 
	border: 1px solid #FFF;
	border-top: 0;
	color: #3A4F6C; 
	margin: 0;
	height: 22px;
	text-align: right;
}

.tb-top-left-link,
.tb-top-right-link
{
	float: right;
	font-size: 10px;
	font-weight: bold; 
	letter-spacing: 0.5px;
	margin-top: 4px;
	width: auto;
}

.tb-top-left-link {
	float: left;
}

.forumtable
{
  width: 100%;
  margin: 0;
  padding: 0;
/*  font-family: Verdana, Arial, sans-serif; */
  font-size: 8pt;
  border: 1px solid #ccc;
  border-collapse: collapse;
  background-color: white;
}

#submenu a:link, 
#submenu  a:visited,
#submenu a:hover, 
#submenu a:active { 
	background: #003977;
        border : 1px solid #FFF; 
	color: #FFF; 
        padding: 1px 3px 2px 4px;
        margin: 0px 1px 0px 2px;
        text-decoration:none;
}

#submenu a:hover, 
#submenu a:active{
	background: #EA5F00;
}

/*
status bar style
*/
#statusbar{ 
	background: #E9D58F;
	border: 1px solid #CEAA49;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}

#statusbar p{
	background: transparent !important;
	border: 0 !important;
	font-size: 10px;
	font-weight: bold; 
	letter-spacing: 1px;
	margin: 0 !important;
	padding: 3px 0 3px 0; 
	text-align: right;
}

#statusbar p{
	font-weight: normal;
	letter-spacing: 0;
}

#statusbar p.home{
	float: left;
}
/*
status bar
*/

table {
  border-collapse: collapse;
  border: none;
   background-color: #ECE9D8; 
}

table.main, table.mainouter {
  background-color: #F5F4EA;
}

table.bottom {
  background: transparent;
}

h1 {
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-bottom: 6px;
}

h3 {
  font-size: 11pt;
  margin-bottom: 6px;
}

p {
	font-size: 8pt;
}

p.sub { 
  margin-bottom: 4pt;
}

td {
	font-size: 8pt;
	border: solid #000000 1px;
}

td.embedded {
   border: none;
   padding: 0px;
  text-align: left;
}

td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 10pt;
  text-align: left;
}

td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: #ffffff;
  background-color: #0055A4;
}

td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
	font-size: 14pt;
}

td.navigation {
	font-weight: bold;
	font-size: 10pt;
   border: none;
}

td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}

form {
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

.sublink {
	font-style: italic;
	font-size: 7pt;
	font-weight: normal;
}

/*
pagination links start
*/
font.gray
{
  color: #ACA899;
  text-decoration: underline;
}

.pagelink,
.pagelinklast,
.pagecurrent,
.minipagecurrent,
.minipagelink,
.minipagelinklast{
	background: #F0F5FA;
	border: 1px solid #072A66;
	padding: 1px 3px 1px 3px;
}

.pagelinklast,
.minipagelinklast{
	background: #DFE6EF;
}

.pagecurrent{
	background: #FFC9A5;
}

.minipagecurrent{
	background: #F0F5FA;
	font-size: 10px;
}

.minipagelink,
.minipagelinklast{
	border: 1px solid #C2CFDF;
	font-size: 10px;
	margin: 0 1px 0 0;
}

.pagelink a:active,
.pagelink a:visited,
.pagelink a:link,
.pagelinklast a:active,
.pagelinklast a:visited,
.pagelinklast a:link,
.pagecurrent a:active,
.pagecurrent a:visited,
.pagecurrent a:link,
.minipagelink a:active,
.minipagelink a:visited,
.minipagelink a:link,
.minipagelinklast a:active,
.minipagelinklast a:visited,
.minipagelinklast a:link{
	text-decoration: none;
}
/*
pagination links end
*/

a:link, a:visited {
  text-decoration: none;
  color: #000000;
  /*font-weight: bold;*/
}

a:hover {
  color: #FF0000;
}

a.index {
	font-weight: bold;
}

a.biglink {
	font-weight: bold;
	font-size: 12pt;
}

a.altlink:link, a.altlink:visited{
	font-weight: bold;
	color: #A83838;
	text-decoration: none;
}

a.altlink:hover {
  text-decoration: underline;
}

a.altlink_blue:link, a.altlink_blue:visited{
	font-weight: bold;
	color: #004E98;
	text-decoration: none;
}

a.altlink_blue:hover {
  text-decoration: underline;
}

a.altlink_green:link, a.altlink_green:visited{
	font-weight: bold;
	color: #007800;
	text-decoration: none;
}

a.altlink_green:hover {
  text-decoration: underline;
}

a.colheadlink:link, a.colheadlink:visited {
   font-weight: bold;
   color: #FFFFFF;
   text-decoration: none;
}

a.colheadlink:hover {
   text-decoration: underline;
}

.important {
	font-weight: bold;
	font-size: 8pt;
}

.red {
	color: #ee0000;
}

.yellow {
	color: #997700;
}

.green {
	color: #000000;
}

input, select, textarea {
	background: #FFF;
	border: 1px solid #00326A;
	color: #000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	margin: 5px;
	padding: 2px;
	vertical-align: middle;
}

input:focus { 
  background-color: #FFFF99; 
}

textarea:focus {
  background-color: #FFFF99; 
}

select
{
	margin: 0px;
}

.btn
{
   font-size:12px;
   font-family:Verdana,sans-serif;
   /* font-weight:bold; */
   color:#999999;
   background-color:#F0F5FA;
   border: 1px solid #072A66;
   border-width:1px;
   padding: 1px 3px 1px 3px;
}

.small {
  font-size: 7pt;
}

.big {
  font-size: 10pt;
}

li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

ul {
  margin-left: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
}


/*
Cpatcha/pin stuff
*/
.cimage 
{ 
border: 1px solid #eee; 
}

p#statusgreen 
{ 
font-size: 1.2em; background-color: #fff; color: #0a0; 
}

p#statusred 
{ 
font-size: 1.2em; background-color: #fff; color: #a00; 
}

.tag_cloud
{padding: 3px; text-decoration: none;
font-family: verdana;     
}
.tag_cloud:link  { color: #0099FF; text-decoration:none;
}
.tag_cloud:visited { color: #00CCFF; 
}
.tag_cloud:hover { color: #0000FF; background: #00CCFF; 
}
.tag_cloud:active { color: #0000FF; background: #FFFFFF; 
}

.forumrules_title
{
  background-color: #7192b2;
	font-size: 14px;
	color: #fff;
	padding: 7px;
  margin-bottom: 4px;
}

.forumrules_border
{
  border:1px solid #e2e2e0;
  padding:4px;
}

.forumrules_text_border
{
  border:1px solid #e2e2e0;
  padding:4px;
}

.forumrules_text
{
  background-color: #FFFF99;
	font-size: 14px;
	color: #000;

}


.popupmenu
{
   background: #C2CFDF;
   color: #3A4F6C;
   border: 1px solid #3A4F6C;
   text-align:left;
   font-size:11px;
   font-weight:bold;
   white-space:nowrap;
   /*padding:3px 5px 3px 3px;*/
   /* width:120px; */
}

.popupmenu-item
{
	padding: 5px;
	/*margin-top:4px;*/
	white-space: nowrap;
	border-bottom: 1px solid #C2CFDF;
	color:  #000000;
	font-weight: normal;
}

.popupmenu-item-last
{
	padding: 5px;
	/*margin-top:4px;*/
	white-space: nowrap;
	color:  #000000;
	font-weight: normal;
}

.popupmenubutton
{
   background: #C2CFDF;
   color: #3A4F6C;
   border: 1px solid #3A4F6C;
   text-align:center;
   font-size:11px;
   font-weight:bold;
   white-space:nowrap;
   /*padding:3px 5px 3px 3px;*/
   height:18px;
   width:120px;
}

.popupmenu-item a:link, 
.popupmenu-item a:visited,
.popupmenu-item-last a:link, 
.popupmenu-item-last a:visited
{ 
	color: #000; 
	text-decoration: none;
}

.popupmenu-item a:hover, 
.popupmenu-item-last a:hover
{ 
	color: #EA5F00; 
	text-decoration: none;
}



.tbi
{
	vertical-align:middle;
	border:0px;
	padding:0px;
	margin:0px;
	float:none;
}

.menusep
{
	white-space: nowrap;  /* stop menu collapsing in IE */
	padding-top:4px;
	padding-bottom:3px;
	border-bottom:1px solid #DDD;
}

.menuseplast
{
	white-space: nowrap; /* stop menu collapsing in IE */
	padding-top:4px;
	padding-bottom:3px;
	color: #000;
}

.menusep a:link, 
.menusep a:visited, 
.menusep a:active,
.menuseplast a:link, 
.menuseplast a:visited, 
.menuseplast a:active
{
	text-decoration:none;
	font-weight:bold;
	color: #000000;
}

.roundedCorners {
	border: 1px solid #000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
