body {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 10pt;
background-color: #004E98;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}

#logostrip{ 
	background: #00326A url(pic/tile_back.gif);
	border: 1px solid #FFF;
	height: 130px;
	margin: 0;
	padding: 0;
}

#submenu{ 
	border: 1px solid #FFF;
	border-top: 0;
	color: #3A4F6C; 
	margin: 0;
	height: 22px;
	text-align: right;
}

.tb-top-left-link,
.tb-top-right-link
{
	float: right;
	font-size: 12px;
	font-weight: bold; 
	letter-spacing: 0.5px;
	margin-top: 4px;
	width: auto;
}

.tb-top-left-link {
	float: left;
}

#submenu a:link, 
#submenu  a:visited,
#submenu a:hover, 
#submenu a:active { 
	background: #003977;
        border : 1px solid #FFF; 
	color: #FFF; 
        padding: 1px 3px 2px 4px;
        margin: 0px 1px 0px 2px;
        text-decoration:none;
}

#submenu a:hover, 
#submenu a:active{
	background: #EA5F00;
}

/*
status bar style
*/
#statusbar{ 
	background: #E9D58F;
	border: 1px solid #CEAA49;
	margin: 5px 0 5px 0;
	padding: 0 5px 0 5px;
}

#statusbar p{
	background: transparent !important;
	border: 0 !important;
	font-size: 11px;
	font-weight: bold; 
	letter-spacing: 1px;
	margin: 0 !important;
	padding: 3px 0 3px 0; 
	text-align: right;
}

#statusbar p{
	font-weight: normal;
	letter-spacing: 0;
}

#statusbar p.home{
	float: left;
}
/*
status bar
*/



table {
  border-collapse: collapse;
  border: none;
   background-color: #ECE9D8; 
}

table.main, table.mainouter {
  background-color: #F5F4EA; /** #F4F4F0; **/
}

table.bottom {
  background: transparent;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 12pt;
  margin-bottom: 6px;
}

h3 {
  font-size: 13pt;
  margin-bottom: 6px;
}

p {
	font-size: 10pt;
}

p.sub { 
  margin-bottom: 4pt;
}

td {
	font-size: 10pt;
	border: solid #000000 1px;
}

td.embedded {
   border: none;
   padding: 0px;
  text-align: left;
}

td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 12pt;
  text-align: left;
}

td.comment {
  padding: 12pt;
  font-size: 10pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: #ffffff;
  background-color: #0055A4;
}

td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
	font-size: 10pt;
}

td.navigation {
	font-weight: bold;
	font-size: 10pt;
   border: none;
}

td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}

form {
	margin-top: 0;
	margin-bottom: 0;
}

.sublink {
	font-style: italic;
	font-size: 9pt;
	font-weight: normal;
}

font.gray
{
  color: #ACA899;
  text-decoration: underline;
}

a:link, a:visited {
  text-decoration: none;
  color: #000000;
  /*font-weight: bold;*/
}

a:hover {
  color: #FF0000;
}

a.index {
	font-weight: bold;
}

a.biglink {
	font-weight: bold;
	font-size: 15pt;
}

a.altlink:link, a.altlink:visited{
	font-weight: bold;
	color: #A83838;
	text-decoration: none;
}

a.altlink:hover {
  text-decoration: underline;
}

a.altlink_blue:link, a.altlink_blue:visited{
	font-weight: bold;
	color: #004E98;
	text-decoration: none;
}

a.altlink_blue:hover {
  text-decoration: underline;
}

a.altlink_green:link, a.altlink_green:visited{
	font-weight: bold;
	color: #007800;
	text-decoration: none;
}

a.altlink_green:hover {
  text-decoration: underline;
}

a.colheadlink:link, a.colheadlink:visited {
   font-weight: bold;
   color: #FFFFFF;
   text-decoration: none;
}

a.colheadlink:hover {
   text-decoration: underline;
}

.important {
	font-weight: bold;
	font-size: 10pt;
}

.red {
	color: #ee0000;
}

.yellow {
	color: #997700;
}

.green {
	color: #000000;
}

input, select, textarea {
	font-family: "tahoma", "arial", "helvetica", "sans-serif";
	font-size: 10pt;
}

.btn
{
   font-size:12px;
   font-family:Verdana,sans-serif;
   /* font-weight:bold; */
   color:#999999;
   background-color:#F0F5FA;
   border: 1px solid #072A66;
   border-width:1px;
   padding: 1px 3px 1px 3px;
}

.small {
  font-size: 7pt;
}

.big {
  font-size: 12pt;
}

li {
  margin-top: 8pt;
  margin-bottom: 8pt;
}

ul {
  margin-left: 20pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

img.border  
{  
  border-style: solid;  
  border-color: #000000; 
  border-width: 1px; 
}

.tag_cloud
{padding: 3px; text-decoration: none;
font-family: verdana;     
}
.tag_cloud:link  { color: #0099FF; text-decoration:none;
}
.tag_cloud:visited { color: #00CCFF; 
}
.tag_cloud:hover { color: #0000FF; background: #00CCFF; 
}
.tag_cloud:active { color: #0000FF; background: #FFFFFF; 
}